{% extends 'base.html' %}
{% block content %}

<main >
    <div class="row  justify-content-center flex-column p-5 h-25 text-center animate pop">

        <div class="card" style = 'background-color: rgba(0, 0, 0, 0.2);backdrop-filter: blur(3rem); box-shadow: rgba(0, 0, 0, 0.1) 0px 0 1rem 0.1rem inset;'>
            <div class="card-body">

                <h1 style="color:white;">Error</h1>
                <h2 style="color:white; font-size: 1rem; font-weight: 200">{{msg|safe}}</h2>
                <a href="/demo" style="background-color: cadetblue; border:rgba(0, 0, 0, .3)" id = "search" class="btn-lg btn-secondary w-100" type="submit">
                View Demo
                  </a>
                <a href="/" style="background-color: cadetblue; margin-top:10px; border:rgba(0, 0, 0, .3)" class="btn-lg btn-secondary w-100" type="submit">
                    Home
                  </a>
            </div>
        </div>
    </div>
        
</main>

{% endblock %}